.commonResults {
    width: 100%;
    height: 100%;
    grid-row: 2 / 1 span;
    grid-column: 1 / 1 span;
    grid-template-columns: 240px, 240px;
    grid-template-rows: auto;
    height: 540px;
    display: grid;
    padding: 0px;
}

.commonPests {
    width: 240px;
    height: 540px;
    grid-row: 1 / 1 span;
    grid-column: 1 / 1 span;
}

.commonWeeds {
    width: 240px;
    height: 540px;
    grid-row: 1 / 1 span;
    grid-column: 2 / 1 span;
}