/* Uncomment outline code to display borders of grids */

.container {
    width: 100%;
    height: 100%;
    grid-template-rows: 115px, 50px, 635px;
    width: 480px;
    height: 800px;
    display: grid;
    padding: 0px;
    outline: 1px solid black;
}

body {
    margin: auto;
}

.titleBar {
    padding-top: 35px;
    height: 115px;
    text-align: center;
    background-color: lightgreen;
}
.titleBar h1 {
    position: relative;
    padding-top: 35px;
}

.homeIcon {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10%;
    margin-top: 3%;
    margin-left: 3%;
    /*transition: filter 0.3s;*/
  }
/*
.homeIcon:hover {
    filter: grayscale(100%);
  }
*/
.homeIcon-title{
    display: flex;
    align-items: center;
    margin-bottom: 40%;

}

.cookieLocationBar {
    width: 100%;
    height: 100%;
    grid-row: 2 / 1 span;
    grid-template-columns: 260px, 220px;
    grid-template-rows: auto;
    width: 480px;
    height: 50px;
    display: grid;
    padding: 0px;
    /* outline: 1px solid black; */
}

.cookieColumn {
    width: 260px;
    grid-row: 1 / 1 span;
    grid-column: 1 / 1 span;
}

.locationColumn {
    width: 100%;
    height: 100%;
    grid-row: 1 / 1 span;
    grid-column: 2 / 1 span;
    grid-template-columns: 170px, 50px;
    grid-template-rows: 50px;
    width: 220px;
    height: 50px;
    display: grid;
    padding: 0px;
    /* outline: 1px solid black; */
}

.locationInfo {
    height: 50px;
    width: 165px;
    grid-row: 1 / 1 span;
    grid-column: 1 / 1 span;
}

#locationInput {
    width: 168px;
    height: 25px;
}

#locationSymbol {
    height: 50px;
    width: 50px;
    margin: auto;
    grid-row: 1 / 1 span;
    grid-column: 2 / 1 span;
}

.pageContents {
    width: 100%;
    height: 100%;
    grid-row: 3 / 1 span;
    grid-template-columns: auto;
    grid-template-rows: 95px, 540px;
    width: 480px;
    height: 635px;
    display: grid;
    padding: 0px;
    /* outline: 1px solid black; */
}

.searchBar {
    height: 95px;
    grid-row: 1 / 1 span;
    grid-column: 1 / 1 span;
    margin: auto;
    padding-top: 15px;
}

input {
    border-radius: 32px;
    margin: auto;
}

.commonResults {
    width: 100%;
    height: 100%;
    grid-row: 2 / 1 span;
    grid-column: 1 / 1 span;
    grid-template-columns: 240px, 240px;
    grid-template-rows: auto;
    height: 540px;
    display: grid;
    padding: 0px;
    /* outline: 1px solid black; */
}

.commonPests {
    width: 240px;
    height: 540px;
    grid-row: 1 / 1 span;
    grid-column: 1 / 1 span;
}

.commonWeeds {
    width: 240px;
    height: 540px;
    grid-row: 1 / 1 span;
    grid-column: 2 / 1 span;
}

h1 {
    text-align: center;
    margin: auto;
    font-style: sans-serif;
    font-weight: bold;
}

#locationSymbol {
    float: right;
}

form {
    margin: auto;
    position: relative;
    width: 100%;
}

#search {
    width: 480px;
    height: 60px;
    font-style: italic;
    font-size: 23px;
    padding: 15px
}

#searchSymbol {
    position: absolute;
    width: 50px;
    height: 50px;
    transform: translate(-140%, 10%);
}

h3 {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.commonPestList {
    height: 470px;
    overflow: auto;
}

.pest {
    position: relative;
    padding-bottom: 25px;
}

.listIcon {
    width: 90px;
    height: 90px;
}

p {
    position: absolute;
    transform: translate(95px, -70px);
}

.pageContents{
    padding: 10px;
}
.solutionContents{
    display: block grid;
    min-height: 120px;
}
.solutionTitle{
    text-align: center;
    font-weight: bold;
}
.solutionImage{
    position: absolute;
    margin-left: 35px;
    display: inline;
}
.solutionImage img {
    border: solid 5px black;
}
.solutionDescription{
    position: absolute;
    margin-left: 218px;
    margin-right: 5px;
}
.solutionDescription p {
    position: static;
    transform: translate(0px, 0px);
}
.solutionDescription br {
    line-height: 2px;
}
.nextResults{
    display: block grid;
    position: static;
}
.resultsBox {
    grid-column: 1;
    display: block;
    width: 290px;
    position: static;
    border: solid 1px green;
    max-height: 375px;
}
.result{
    display: block grid;
    padding: 5px;
}

.result:hover{
    background-color: #d5f6d5;
}
.resultName{
    position: absolute;
    margin-left: 100px;
    margin-top: 5%;
    /* transform: transformY(-50%); */
}
.optionsBox{
    grid-column: 2;
    display: block;
    position: static;
}
.option{
    display: block;
    position: static;
}

.mapContents {
    position: static;
}

.map{
    position: absolute;
    width: 295px;
    /* margin-left: 10px; */
}
.map p {
    margin-left: 16px;
    font-style:italic;
    transform: translate(0px, 0px);
}
.mapResults {
    /* width: 90px; */
    position: static;
    margin-left: 317px;
}
.store {
    /* width: 90px; */
    display: block grid;
    margin-top: 10px;
}
.mapPin {
    width: 33px;
    margin-top: 10px;
    position: absolute;
}
.storeTitle {
    /* position: absolute; */
    width: 115px;
    margin-left: 20px;
    font-size: 12px;
}
.storeDistance {
    width: 115px;
    margin-left: 20px;
    font-size: 12px;
}
.storePrice {
    width: 115px;
    margin-left: 20px;
    font-size: 12px;
}