/* Consistent across all pages*/

.buttons {
  display: flex;
  justify-content: space-between;
  margin-right: 33%;
  margin-left: 15px;
  margin-top: 15%;
  
}

.buttons button {
  width: 130px;
  border-radius: 20px;
  margin-top: 5%;
  cursor: pointer;

}

.info-onion {
  position: absolute;
    margin-left: 35px;
    display: inline;
}

.info-onion img {
  border: solid 5px black;
}

.homeIcon {
  width: 90px;
  height: 90px;
  top: 0;
  left: 0;
  border-radius: 40%;

}

.homeIcon-title {
  display: flex;
  align-items: center;
  margin-bottom: 40%;

}


.info {
margin-top: 20%; 
}


.info-box {
  width: 420px;
  border: 2px solid #ccc;
  padding: 10px;
  margin: 20px;
  /* margin-left: 15px; */
  margin-left: 0px;
  /* height: 359px; */
  height: 400px;
}

/* Plant info Page */

.middlePage {
  /* padding: 10px; */
  width: 100%;
  height: 100%;
  grid-row: 3 / 1 span;
  grid-template-columns: auto;
  grid-template-rows: 95px, 540px;
  width: 480px;
  height: 635px;
  display: grid;
  padding: 0px;
  /* outline: 1px solid black; */
  
}

.middlePage-Content {
  display: block grid;
    min-height: 120px;
  height: 95px;
  grid-row: 1 / 1 span;
  grid-column: 1 / 1 span;
  margin: 0;
  padding-top: 15px;
}

.OnionImage {
  /* width: 150px; */
  
  width: 120px;
  height: 120px;
  display: block;
  margin: 0;
}

.OnionTitle-image h3 {
  margin: 0;
}

.OnionTitle-image {
  text-align: center;
  font-weight: bold;
  margin-right: 300px;
  margin-left: 20px;
}

.plant-description{
  position: absolute;
  margin-left: 218px;
  margin-right: 5px;
  margin-top: 28px;
}

.plant-description p {
  position: static;
  transform: translate(0px, 0px);
}
.plant-description br {
  line-height: 2px;
}

.pest:hover {
  background-color: #d5f6d5;
  border-radius: 5px;
}

#info-content {
  display: none;
}

#info-content img {
  max-width: 100%;
}

#pests-button {
  background-color: #4CAF50;
  color:#fff;
}

#weeds-button {
  background-color: #fff;
  color:#000;
}