#search {
  width: 480px;
  height: 60px;
  font-style: italic;
  font-size: 23px;
  padding: 15px
}

#searchSymbol {
  position: absolute;
  width: 50px;
  height: 50px;
  transform: translate(-140%, 10%);
}

/* Plant info Page */

.middlePage {
  padding: 10px;
  
}

.middlePage-Content {
  display: block grid;
    min-height: 120px;
}

.info-onion {
  position: absolute;
    margin-left: 35px;
    display: inline;
}

.OnionTitle-image {
  text-align: center;
  font-weight: bold;
}

.info-onion img {
  border: solid 5px black;
}

.plant-description{
  position: absolute;
  margin-left: 218px;
  margin-right: 5px;
  margin-top: 28px;
}

.plant-description p {
  position: static;
  transform: translate(0px, 0px);
}
.plant-description br {
  line-height: 2px;
}

.homeIcon {
  width: 90px;
  height: 90px;
  top: 0;
  left: 0;
  border-radius: 10%;
  margin-top: 3%;
  margin-left: 3%;

}

.homeIcon-title {
  display: flex;
  align-items: center;
  margin-bottom: 40%;

}

.OnionImage {
  width: 150px;
  
}

.OnionTitle-image h3 {
  margin: 0;

}


.info {
margin-top: 20%; 
}

.pest:hover {
  background-color: #d5f6d5;
  border-radius: 5px;
}


.info-box {
  width: 420px;
  border: 2px solid #ccc;
  padding: 10px;
  margin: 20px;
  margin-left: 15px;
  height: 359px;

}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-right: 33%;
  margin-left: 15px;
  margin-top: 15%;
  
}

.buttons button {
  width: 130px;
  border-radius: 20px;
  margin-top: 5%;
  cursor: pointer;

}

#pests-button {
  background-color: #4CAF50;
  color:#fff;
}

#weeds-button {
  background-color: #fff;
  color:#000;
}
/*<button id="weeds-button">Weeds</button> */

#info-content {
  display: none;
}

#info-content img {
  max-width: 100%;
}
